# Operating System files
.DS_Store

# Python bytecode
*.pyc
__pycache__/

# Jupyter Notebook files
.ipynb_checkpoints/
*.ipynb-checkpoint # Temporary files created by Jupyter
# If you have notebooks that are *only* for temporary work and you don't want them tracked:
# notebooks/*.ipynb 

# Editor-specific files (VS Code)
.vscode/

# IDE files (e.g., PyCharm)
.idea/

# Environment files
.env
venv/

# Build artifacts
dist/
build/
*.egg-info/

LiDAR Wire Clustering Approach.docx

